.scr-header
{
  background-color: #F4F4F4;
padding-bottom:0px;
margin: 0px;
p {
  padding-bottom: 10px;
  padding-top:10px;
  padding-left: 20px;
  margin: 0px;
}
// #logo img {
// max-width: 100%;
// height: auto !important;
// }
}
