<!DOCTYPE html>
{% extends 'layout.html' %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}


<div class="green-banner">
  <img style="padding-left:30px; display:inline-block;" src="/images/tick-icon.svg" alt="green tick"><span style="color:white;padding-left:20px;">
    Green: Access to free NHS services subject to Ordinarily Resident status - check evidence</p></span>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" href="current-status" role="tab" aria-controls="home" aria-selected="true">Home office status</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" href="ovm-status" role="tab" aria-controls="profile" aria-selected="false">Overseas visitor manager status</a>
  </li>
</ul>


<div class="container-fluid">
  <div class="col-12">

    <div class="row">
      <table role="table" class="ovm-table" style="box-shadow:0 4px 0 0 #d8dde0;">
        <thead role="rowgroup" style="background-color:#DAE7F4;border-bottom:solid;border-width:thin;border-color: #C5C5C5;">
          <tr role="row">
            <th role="columnheader" scope="col" style="color:black; padding-left:20px;" colspan="6">Current status</th>
            <th colspan="1">
              <div class="action-link" style="padding-left:0px;padding-right:10px;position:">
                <span><a href="read-guidance" >
                      Read guidance
                    </a><img  src="/images/plus_symbol.svg"></span>
              </div>
            </th>

          </tr>

        </thead>

        <thead role="rowgroup">
          <tr role="row">
            <th width="14%" scope="col" style="padding-left:20px">Immigration status from</th>
            <th width="14%" scope="col">Immigration status to</th>
            <th width="20%" scope="col">HO reference</th>
            <th width="14%" scope="col">BRP number</th>
            <th width="14%" scope="col">Visa type</th>
            <th width="14%" scope="col">Immigration status</th>
            <th width="14%" scope="col">Healthcare status</th>

          </tr>

        </thead>

        <tbody role="rowgroup">
          <tr role="row" style="border-bottom:solid;border-width:thin;border-color: #C5C5C5;">
            <td width="14%" role="cell" style="padding-left:20px">01-Aug-2020</td>
            <td width="14%" role="cell">31-Jul-2025</td>
            <td width="20%" role="cell">AB-S1g6-0000-5db8-c3a8-3</td>
            <td width="14%" role="cell">N/A</td>
            <td width="14%" role="cell">EU settlement scheme</td>
            <td width="14%" role="cell">Leave to remain</td>
            <td width="14%" role="cell">Access to free NHS services</td>

          </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-12">
    <div class="row">


      <table class="ovm-table" style="box-shadow: 0 4px 0 0 #d8dde0;">
        <thead style="background-color:#DAE7F4;border-bottom:solid;border-width:thin;border-color: #C5C5C5;">
          <tr>
            <th scope="col" style="color:black; padding-left:20px;" colspan="7">Historical status</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="0">
              <div class="action-link" style="padding-top:30px;">
                <img style="padding-left:20px;" src="/images/arrow-right-circle.svg"><span id="gethistoric" onClick="toggle();"><span><a href="#" style="padding-left:30px; font-size:20px;">
                      Get historical status
                    </a></span>
              </div>
          </tr>
          </td>



          <!-- THE TOGGLE PART -->


          <td>
            <div class="search-history" id="hidethis" style="display:none;">
              <form style="padding-top:30px; padding-bottom:50px;padding-left:20px">
                <div class="error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" style="display:none;" id="error-summary">
                  <h2 class="error-summary__title" id="error-summary-title">
                    There is a problem
                  </h2>
                  <div class="nhsuk-error-summary__body">
                    <ul class="nhsuk-list nhsuk-error-summary__list">
                      <li>
                        <a href="#dob-start-error">All date fields must be filled in </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="container" style="margin:0px;">
                  <div class="row">
                    <div class="col-6">
                      <div id="start-dob">
                        <h4>Start date</h4>


                        <form>
                          <fieldset style="padding-right:100px">
                            <small id="emailHelp" class="form-text text-muted">For example, 30 03 2016</small>
                            <span class="error-message" id="dob-start-error" style="display:none;">
                              <span>Error:</span> Start date must be complete
                            </span>
                            <div class="row">
                              <div class="col">
                                <label for="startday">Day</label>
                                <input type="number" id="startday" name="date" min="1" max="31" />
                              </div>
                              <div class="col">
                                <label for="startmonth">Month</label>
                                <input type="number" id="startmonth" name="month" min="1" max="12" />
                              </div>
                              <div class="col">
                                <label for="startyear">Year</label>
                                <input type="number" id="startyear" name="year" min="1900" max="9999" />
                              </div>
                          </fieldset>
                        </form>




                        <form style="padding-top:20px;" action="/ovm-v2/historic-status-3" id="submit-button">
                          <div class="row">
                          <div class="col-4">
                          <input  type="submit" id="button"  style="border-radius:4px;border-color:#C5C5C5;margin-top:20px;padding:10px;background-image: linear-gradient(white, #C5C5C5);" href="/ovm-v2/historic-status-3" value="submit" ></input>
                        </div>
                        <div class="col-8">
                          <span style="display:inline;">
                          <div class="loader" id="loading" style="display:none;" ></div></span>
                        </div>
                        </form>


                      </div>
                    </div>

                    </div>

                    <div class="col-6">
                      <div id="end-dob">

                        <h4>End date</h4>
                        <form>
                          <fieldset>
                            <small id="emailHelp" class="form-text text-muted">For example, 30 03 2017</small>
                            <span class="error-message" id="dob-end-error" style="display:none;">
                              <span>Error:</span> End date must be complete
                            </span>
                            <div class="row">
                              <div class="col">
                                <label for="enddate">Day</label>
                                <input type="number" id="endday" name="date" min="1" max="31" />
                              </div>
                              <div class="col">
                                <label for="endmonth">Month</label>
                                <input type="number" id="endmonth" name="month" min="1" max="12" />
                              </div>
                              <div class="col">
                                <label for="endyear">Year</label>
                                <input type="number" id="endyear" name="year" min="1900" max="9999" />
                              </div>
                          </fieldset>
                        </form>

                      </div>







                    </div>
                  </div>
                </div>
            </div>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

{% endblock %}

{%block pageScripts%}

<html>


<head>
  <script>
    document.getElementById("gethistoric").onclick = function() {
      if (document.getElementById("hidethis").style.display == 'none') {
        document.getElementById("hidethis").style.display =
          'block'; // set to table-row instead of an empty string
      } else {
        document.getElementById("hidethis").style.display = 'none';
      }
    }
  </script>
</head>

<head>
  <script>


$('#submit-button').submit(function (e) {
    var form = this;
    $(".loader").show();
    e.preventDefault();
    setTimeout(function () {
        form.submit();
    }, 5000); // in milliseconds
  });

// document.getElementById("submit-button").onsubmit = function(e){
//   var form = this;
//   document.getElementsByClassName("loader").style.display = 'block';
//   e.preventDefault();
//   setTimeout(function (){
//     form.submit();
//   }, 5000);
//
// });

  </script>
</head>

{% endblock %}
