<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title inside the pageTitle block -->
{% block pageTitle %}
SCRa prototype kit
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
<div class="scr-header">
  <div class="container-fluid">
    <p>Find a patient<span style="padding-left:50px">Help</span><span style="padding-left:50px">Exit</p>
  </div>
</div>
<div class="patient-header">
  <div class="container-fluid">
    <p><strong>Samantha</strong> brannigan<span style="padding-left:50px">DOB: 11/09/1975</span><span style="padding-left:50px">Female<span style="padding-left:50px">NHS No: 123456789</span><span style="padding-left:50px">GP
          Practice</span><span style="padding-left:50px">Address : 1 Primrose Avenue, Pynes Hill, Rydon Lane, Exeter, Devon, United Kingdom, EX2 5SA</span></span></p>
  </div>
</div>
{% endblock %}

<!-- Footer goes inside the footer block -->
<!-- More info and code for the footer can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
<footer class="footer">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>
{% endblock %}

{% block bodyEnd %}
{% block scripts %}
<!-- Custom JavaScript files can be added to this file -->
{% include "includes/scripts.html" %}
<!-- For adding page specific JavsScript -->
{% block pageScripts %}{% endblock %}
{% endblock %}
{% endblock %}
